// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$vesperia-waiter-teal: (
    50 : #eef8fc,
    100 : #d4eef8,
    200 : #b7e2f4,
    300 : #9ad6f0,
    400 : #84ceec,
    500 : #6ec5e9,
    600 : #66bfe6,
    700 : #5bb8e3,
    800 : #51b0df,
    900 : #3fa3d9,
    A100 : #ffffff,
    A200 : #f6fcff,
    A400 : #c3e9ff,
    A700 : #a9e0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$vesperia-waiter-teal-dark: (
    50 : #e4f3fa,
    100 : #bce2f2,
    200 : #90cfe9,
    300 : #63bbe0,
    400 : #41adda,
    500 : #209ed3,
    600 : #1c96ce,
    700 : #188cc8,
    800 : #1382c2,
    900 : #0b70b7,
    A100 : #e4f3ff,
    A200 : #b1dcff,
    A400 : #7ec4ff,
    A700 : #64b9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$vesperia-waiter-orange: (
    50 : #fff8ed,
    100 : #ffeed3,
    200 : #ffe2b6,
    300 : #ffd698,
    400 : #ffce82,
    500 : #ffc56c,
    600 : #ffbf64,
    700 : #ffb859,
    800 : #ffb04f,
    900 : #ffa33d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff2e5,
    A700 : #ffe6cc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$vesperia-waiter-orange-dark: (
    50 : #fcf1e1,
    100 : #f9ddb3,
    200 : #f5c680,
    300 : #f0af4d,
    400 : #ed9e27,
    500 : #ea8d01,
    600 : #e78501,
    700 : #e47a01,
    800 : #e17001,
    900 : #db5d00,
    A100 : #ffffff,
    A200 : #ffe1cf,
    A400 : #ffc09c,
    A700 : #ffb083,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vesperia-waiter-primary: mat-palette($vesperia-waiter-teal);
$vesperia-waiter-accent: mat-palette($vesperia-waiter-orange, 900);

$vesperia-waiter-primary-dark: mat-palette($vesperia-waiter-teal-dark);
$vesperia-waiter-accent-dark: mat-palette($vesperia-waiter-orange-dark);

// // The warn palette is optional (defaults to red).
// $vesperia-waiter-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vesperia-waiter-light-theme: mat-light-theme((
  color: (
    primary: $vesperia-waiter-primary,
    accent: $vesperia-waiter-accent,
  )
));

$vesperia-waiter-dark-theme: mat-dark-theme((
  color: (
    primary: $vesperia-waiter-primary-dark,
    accent: $vesperia-waiter-accent-dark,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vesperia-waiter-dark-theme);

.primary {
    color: #209ed3;
}

.light-theme {
    @include angular-material-theme($vesperia-waiter-light-theme);

    .primary {
        color: #6ec5e9;
    }
}
